/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #0a172a;
}
@media only screen and (max-width: 48em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #e2e8f0;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
}
.heading-primary--main {
  display: inline-block;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
}
.heading-primary--sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 63.9em) {
  .heading-primary--sub {
    font-size: 1.8rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.03em;
}

.heading-tertiary {
  width: 20em;
  font-size: 1.4rem;
  font-weight: 400;
  color: #94a3b8;
}
@media only screen and (max-width: 63.9em) {
  .heading-tertiary {
    font-size: 1.6rem;
  }
}

.paragraph {
  font-size: 1.5rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2.4rem;
}

.short-body {
  font-size: 1.4rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-width-65 {
  width: 65% !important;
}

.u-width-75 {
  width: 75% !important;
}

.u-hidden {
  display: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.icon-default {
  font-size: 2.4rem;
  color: #94a3b8;
  cursor: pointer;
}

.icon-small {
  font-size: 2rem;
  color: #94a3b8;
  cursor: pointer;
}

.icon-display {
  padding: 0 2rem;
  display: flex;
  gap: 2.4rem;
}
@media only screen and (max-width: 63.9em) {
  .icon-display {
    padding: 0;
    display: flex;
    gap: 2.4rem;
  }
}
.icon-display__link:link, .icon-display__link:visited {
  color: inherit;
  text-decoration: none;
}
.icon-display__link:hover, .icon-display__link:active {
  color: #55c57a;
}

.header {
  grid-area: hero;
  top: 0;
  position: sticky;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 63.9em) {
  .header {
    top: auto;
    position: relative;
    padding: 0;
    justify-content: start;
    height: 25vh;
  }
}
.header__hero-box {
  padding: 0 2rem;
}
@media only screen and (max-width: 63.9em) {
  .header__hero-box {
    padding: 0;
  }
}

.navigation {
  background-color: transparent;
}
@media only screen and (max-width: 63.9em) {
  .navigation {
    display: none;
  }
}
.navigation__nav {
  width: 100%;
}
.navigation__list {
  height: max-content;
  width: max-content;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.navigation__item {
  height: inherit;
  width: inherit;
  padding: 0.8rem 0;
}
.navigation__link:link, .navigation__link:visited {
  height: inherit;
  display: flex;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #94a3b8;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link:link span, .navigation__link:visited span {
  margin: auto 0;
  display: inline-block;
  height: 0.1rem;
  width: 2.4rem;
  background-color: #94a3b8;
  transition: ease-in-out width 0.2s;
}
.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
}
.navigation__link:hover span, .navigation__link:active span {
  background-color: #55c57a;
  width: 4.8rem;
  transition: ease-in-out width 0.2s;
}

.body-layout {
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
  display: grid;
  grid-template-areas: "hero body";
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 5fr;
  gap: 1rem;
  max-width: 128rem;
}
@media only screen and (max-width: 63.9em) {
  .body-layout {
    padding: 4.8rem;
    position: relative;
    display: grid;
    grid-template-areas: "hero" "body";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 48em) {
  .body-layout {
    padding: 4.2rem;
    padding-top: 4.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .body-layout {
    padding: 2.8rem;
    padding-top: 4.8rem;
  }
}
@media only screen and (max-width: 30em) {
  .body-layout {
    padding: 2.4rem;
  }
}

.main {
  grid-area: body;
  padding: 8rem 0;
  height: 100%;
  width: 100%;
}

.footer {
  opacity: 0.8;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #94a3b8;
}
@media only screen and (max-width: 63.9em) {
  .footer {
    padding: 0rem;
  }
}
.footer__description {
  width: 80%;
}
@media only screen and (max-width: 63.9em) {
  .footer__description {
    width: 65%;
  }
}
@media only screen and (max-width: 30em) {
  .footer__description {
    width: 100%;
  }
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #eee;
}
.footer__link:hover, .footer__link:active {
  color: #5eead4;
}

.list {
  list-style: none;
}

.card {
  margin-bottom: 2.4rem;
  padding: 1.4rem 2rem;
  border: 1px solid transparent;
  border-radius: 7px;
  color: #fff;
  transition: opacity 0.2s ease, background-color 0.2s, color 0.2s;
  cursor: pointer;
}
.card:hover {
  background-color: rgba(160, 180, 209, 0.1);
  color: #5eead4;
}
@media only screen and (max-width: 63.9em) {
  .card {
    padding: 0;
  }
  .card:hover {
    background-color: transparent;
    color: #5eead4;
  }
}
.card__link:link, .card__link:visited {
  text-decoration: none;
  color: inherit;
}
.card__layout {
  display: grid;
  grid-template-areas: "header header body body body body body body";
  grid-template-columns: repeat(8, 1fr);
  gap: 1.6rem;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .card__layout {
    display: grid;
    grid-template-areas: "header" "body";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 0.4rem;
    width: 100%;
  }
}
.card__layout-image {
  display: grid;
  grid-template-areas: "header header body body body body body body";
  grid-template-columns: repeat(8, 1fr);
  gap: 1.6rem;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .card__layout-image {
    display: grid;
    grid-template-areas: "body" "header";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    width: 100%;
  }
}
.card__header {
  grid-area: header;
  font-size: 1.4rem;
  font-weight: 500;
  color: #94a3b8;
}
.card__header-image {
  grid-area: header;
  font-size: 1.4rem;
  font-weight: 500;
  color: #94a3b8;
}
@media only screen and (max-width: 37.5em) {
  .card__header-image {
    width: 16rem;
  }
}
.card__info {
  grid-area: body;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.card__heading {
  font-size: 1.4rem;
  font-weight: 500;
}
.card__description {
  font-size: 1.4rem;
  color: #94a3b8;
}
.card__tags {
  list-style: none;
  margin-top: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.card__tag {
  padding: 0.2rem 0.8rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: rgba(45, 212, 191, 0.1);
  font-size: 1rem;
  font-weight: 500;
  color: #5eead4;
}
.card__image {
  height: 8rem;
  width: 100%;
  border: 1.4px solid #eee;
  border-radius: 5px;
  object-fit: cover;
}

.card.de-selected {
  opacity: 0.4;
}

.form {
  padding: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr 1fr 3.2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "name email" "subject subject" "message message" "button button";
  border-radius: 4px;
  background-color: rgba(45, 212, 191, 0.1);
}
@media only screen and (max-width: 30em) {
  .form {
    padding: 1.6rem;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "name" "email" "subject" "message" "button";
  }
}
.form__header {
  grid-area: header;
  padding: 0.4rem 0rem;
}
.form__heading {
  font-size: 2rem;
  font-weight: 600;
  color: #5eead4;
}
.form__name {
  grid-area: name;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 30em) {
  .form__name {
    margin: 0;
  }
}
.form__email {
  grid-area: email;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 30em) {
  .form__email {
    margin: 0;
  }
}
.form__subject {
  grid-area: subject;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.form__message {
  grid-area: message;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
.form__label {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.form__input {
  padding: 0.6rem 1.2rem;
  border: 1px solid #5eead4;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: rgb(2, 70, 61);
}
.form__input:active, .form__input:focus {
  border-color: transparent;
  outline-style: outset;
  outline-offset: 0px;
  outline-width: 1px;
  outline-color: #5eead4;
  background-color: rgb(2.7083333333, 94.7916666667, 82.6041666667);
}
.form__textarea {
  resize: none;
  padding: 0.6rem 1.2rem;
  height: 100%;
  border: 1px solid #5eead4;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: rgb(2, 70, 61);
}
.form__textarea:active, .form__textarea:focus {
  border-color: transparent;
  outline-style: outset;
  outline-offset: 0px;
  outline-width: 1px;
  outline-color: #5eead4;
  background-color: rgb(2.7083333333, 94.7916666667, 82.6041666667);
}
.form__button {
  grid-area: button;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(2, 70, 61);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.form__button:hover {
  background-color: rgb(2.7083333333, 94.7916666667, 82.6041666667);
  color: #5eead4;
}
.form__button:active, .form__button:focus {
  outline-style: outset;
  outline-offset: 1px;
  outline-width: 1px;
  outline-color: #5eead4;
}

.section-about {
  padding: 0 2rem;
  height: max-content;
  color: #94a3b8;
}
@media only screen and (max-width: 63.9em) {
  .section-about {
    padding: 0;
  }
}

.section-experience {
  height: max-content;
  color: #94a3b8;
}

.section-projects {
  height: max-content;
  color: #94a3b8;
}

.section-education {
  height: max-content;
  color: #94a3b8;
}

.section-skills {
  height: 20rem;
}

.section-contact {
  padding: 0 2rem;
  height: max-content;
  color: #94a3b8;
}
@media only screen and (max-width: 63.9em) {
  .section-contact {
    padding: 0;
  }
}

.section__header {
  display: none;
}
@media only screen and (max-width: 63.9em) {
  .section__header {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
