.body-layout {
  margin: 0 24rem;
  padding: 0 3.2rem;
  position: relative;
  display: grid;
  grid-template-areas: "hero body";
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 5fr;
  gap: 1rem;
}
