@use "../abstracts" as abstracts;

.header {
  grid-area: hero;
  top: 0;
  position: sticky;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 100vh;
  width: 100%;

  @include abstracts.respond(tab-land) {
    top: auto;
    position: relative;
    padding: 0;
    justify-content: start;
    height: 25vh;
  }

  &__hero-box {
    padding: 0 2rem;

    @include abstracts.respond(tab-land) {
      padding: 0;
    }
  }
}
