.navigation {
  height: 4rem;
  width: 100%;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;

  &__nav {
    height: 100%;
  }

  &__list {
    list-style: none;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 1rem;
    height: inherit;
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      height: inherit;
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      span {
        margin: auto 0;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
