.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-width-65 {
  width: 65% !important;
}

.u-width-75 {
  width: 75% !important;
}

.u-hidden {
  display: none;
}
