@use "../abstracts" as abstracts;

.section-about {
  padding: 0 2rem;
  height: max-content;
  color: abstracts.$color-grey-light-3;

  @include abstracts.respond(tab-land) {
    padding: 0;
  }
}

.section-experience {
  height: max-content;
  color: abstracts.$color-grey-light-3;
}

.section-projects {
  height: max-content;
  color: abstracts.$color-grey-light-3;
}

.section-education {
  height: max-content;
  color: abstracts.$color-grey-light-3;
}

.section-skills {
  height: 20rem;
}

.section-contact {
  padding: 0 2rem;
  height: max-content;
  color: abstracts.$color-grey-light-3;

  @include abstracts.respond(tab-land) {
    padding: 0;
  }
}

.section__header {
  display: none;

  @include abstracts.respond(tab-land) {
    display: block;
  }
}
